body {
    background-color: lightblue;
}

h1 {
    color: Blue;
    font-size: 50px;
}

img {
    background-color: red;
}

.para {
    font-style: italic;
}

.image1:hover{
    background-color: yellow;
}

.image2:hover{
    background-color: green;
}