body {
    margin:0;
    text-align: center;
}

.top-container {
    padding-top: 100px;
    background-color: #E4F9F5;
    position: relative;
}

.middle-container{
}

.bottom-container{   
}

h1{
    margin-top: 0;
}

.bottom-cloud {
    position: absolute;
    top:200px;
    left:300px;
}

.top-cloud {
    position: absolute;
    top:50px;
    right:300px;
}

